$titleBreak: 510px;

/**
 * Bootstrap Overrides
 */
.container {
    max-width: 730px;
}

/**
 * Custom Styles
 */
.app {
    &__title {
        color: #000000;
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        @media only screen and (min-width: $titleBreak) {
            font-size: 60px;
        }
    }

    &__icon {
        width: 65px;
        position: relative;
        bottom: -5px;
        margin-right: 20px;
    }
}

.timer {
    display: flex;
    align-items: center;

    &__stats {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__close {
        color: #e74c3c;
        margin-right: 10px;

        &:hover {
            color: #2c3e50;

            .active & {
                color: #ffffff;
            }
        }
    }

    &__btnGroup {
        margin-left: 10px;

        .btn:focus {
            outline: none;
        }
    }

    &__titleWrapper {
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: 20px;
        flex-grow: 5;
        max-width: 350px;
    }

    &__title {
        cursor: pointer;
    }

    &__current,
    &__planned {
        cursor: pointer;
    }

    &__inputGroup {
      max-width: 115px;
      cursor: pointer;
    }
}

.timerSumary {
    display: flex;
    align-items: center;
    border-top: 2px solid #dce4ec;

    &__text,
    &__totals {
        flex-grow: 1;
    }

    &__text {
        margin: 0;
    }

    &__totals {
        text-align: right;
    }

    &__legend {
        color: #95a5a6;
    }
}
