/**
 * Bootstrap Overrides
 */
.container {
    max-width: 730px;
}

/**
 * Custom Styles
 */
.timer {
    display: flex;
    align-items: center;

    &__stats {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__close {
        color: #e74c3c;
        margin-right: 10px;

        &:hover {
            color: #2c3e50;

            .active & {
                color: #ffffff;
            }
        }
    }

    &__btnGroup {
        margin-left: 10px;

        .btn:focus {
            outline: none;
        }
    }

    &__titleWrapper {
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: 20px;
        flex-grow: 5;
        max-width: 350px;
    }

    &__title {
        cursor: pointer;
    }

    &__current,
    &__planned {
        cursor: pointer;
    }

    &__inputGroup {
      max-width: 115px;
      cursor: pointer;
    }
}

.daily-stats {
    text-align: right;
}
