/**
 * Variables
 */
$fontFamily: 'Paytone One', sans-serif;
$titleBreak: 510px;
$primary: #2c3e50;
$info: #3498db;
$success: #18bc9c;
$warning: #f39c12;
$error: #e74c3c;

/**
 * Bootstrap Overrides
 */
.container {
    max-width: 730px;
}

/**
 * Custom Styles
 */
.app {
    &__title {
        color: #000000;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        font-family: $fontFamily;

        @media only screen and (min-width: $titleBreak) {
            font-size: 60px;
        }
    }

    &__icon {
        width: 65px;
        position: relative;
        bottom: -5px;
        margin-right: 20px;
    }
}

.timer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &__stats {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__close {
        color: #e74c3c;
        margin-right: 10px;

        &:hover {
            color: $primary;

            .active & {
                color: #ffffff;
            }
        }
    }

    &__btnGroup {
        margin-left: 10px;

        .btn:focus {
            outline: none;
        }
    }

    &__titleWrapper {
        flex-grow: 1;
        margin-bottom: 0;
        margin-right: 20px;
        flex-grow: 5;
        max-width: 350px;
    }

    &__title {
        cursor: pointer;
    }

    &__current,
    &__planned {
        cursor: pointer;
    }

    &__inputGroup {
      max-width: 115px;
      cursor: pointer;
    }

    &__descContainer {
        width: 100%;
        margin-top: 20px;
        position: relative;
    }

    &__descExcerpt {
        vertical-align: bottom;
        font-size: 80%;
        color: #acb6c0;
        cursor: pointer;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__description {
        padding-right: 45px;
    }

    &__descConfirm {
        position: absolute;
        bottom: 0px;
        right: 0px;
        top: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /* Statuses */
    &--done,
    &--error,
    &--overtime,
    &--logged {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 8px;
            transition-duration: 0.25s;
            transition-property: width, opacity;
        }
        &:hover {
            &:before {
                width: 100%;
                opacity: 0.2;
            }
        }
    }

    &--done {
        &:hover {
            box-shadow: inset 0 2px $info;
        }
        &:before {
            background: $info;
        }
    }
    &--error {
        &:hover {
            box-shadow: inset 0 2px $error;
        }
        &:before {
            background: $error;
        }
    }
    &--overtime {
        &:hover {
            box-shadow: inset 0 2px $warning;
        }
        &:before {
            background: $warning;
        }
    }
    &--logged {
        &:hover {
            box-shadow: inset 0 2px $success;
        }
        &:before {
            background: $success;
        }
    }
}

.timerSumary {
    display: flex;
    align-items: center;
    border-top: 2px solid #dce4ec;

    &__text,
    &__totals {
        flex-grow: 1;
    }

    &__text {
        margin: 0;
    }

    &__totals {
        text-align: right;
    }

    &__legend {
        color: #95a5a6;
    }
}

.options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;

    &__toggle {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }

    &__menu {
        right: 0;
        left: auto;
    }

    &__link {
        &.active {
            color: #ffffff;
            background-color: $primary;

            .options__focus-icon {
                display: inline-block;
            }
        }
    }

    &__focus-icon {
        display: none;
        font-size: 12px;
        margin-top: 2px;
    }
}
